.group-header {
    font-weight: bold;
    padding: 8px 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

.encounter-cr-row {
    line-height: 25px;
}

.encounter-cr {
    display: inline-block;
    padding: 2px 4px;
    line-height: 16px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    white-space: nowrap;
    vertical-align: top;
    background-color: #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 25px;
    flex: 0 0 120px;
    text-align: center;
    position: relative;
    font-size: 16px;
    font-weight: normal;
    padding: 4px;
    margin-left: 4px;
}

.encounter-cr[rating="easy"] {
    background-color: #468847;
}

.encounter-cr[rating="average"] {
    background-color: #3a87ad;
}

.encounter-cr[rating="challenging"] {
    background-color: #f89406;
}

.encounter-cr[rating="hard"] {
    background-color: #b94a48;
}

.encounter-cr[rating="epic"] {
    background-color: #333333;
}

.encounter-cr-rating {
    /*width: calc(100% - 8px);
    position: absolute;
    bottom: 1px;*/
    line-height: 10px;
    font-size: 10px;
    text-align: center;
}

#combat #combat-controls {
    min-height: 38px;
}

#chat-log .message.round-marker {
    background: none !important;
    border: none !important;
    border-radius: 0px;
    border-bottom: 1px solid #ff6400 !important;
    padding: 0pc 5px;
    margin: 0px;
    box-shadow: none;
    background-image: none !important;
}

#chat-log .message.round-marker .message-header {
    flex-direction: row-reverse;
}

#chat-log .message.round-marker .message-header .message-sender,
#chat-log .message.round-marker .message-header .message-timestamp,
#chat-log .message.round-marker .message-content {
    display: none;
    border-bottom: none !important;
    padding: 0px
}

#chat-log .message.round-marker .message-header .flavor-text {
    flex: 1;
    color: #f0f0e0;
    grid-area: unset;
}

#chat-log .message.round-marker .message-header .message-metadata {
    background-color: transparent;
    background-image: none;
}

#chat-log .message.round-marker .message-header .message-delete {
    color: var(--color-text-dark-secondary);
    margin-right: 5px;
}

#chat-log .message.round-marker .message-header .message-delete:hover {
    color: var(--stat-font);
}

#combat #combat-tracker {
    position: relative;
}

#your-turn {
    width: 100%;
    position: absolute;
    top: 35%;
    height: 180px;
    font-size: 80px;
    line-height: 180px;
    text-align: center;
    pointer-events: none;
    z-index: 1000;
    color: #222;
    opacity: 0;
    transition: opacity 0.5s;
    box-shadow: 0 0 10px var(--color-shadow-dark);
}

#your-turn.show {
    opacity: 1;
}

#your-turn.next {
    background: rgba(47, 80, 132, 0.8);
    border-top: 4px solid #5c87b9;
    border-bottom: 4px solid #5c87b9;
}

#your-turn.current {
    background: rgba(214, 150, 0, 0.8);
    border-top: 4px solid #d69e07;
    border-bottom: 4px solid #d69e07;
}

.combat-sidebar.hide-defeated li.combatant.defeated {
    display: none;
}
